<h1>Welcome! <%= @trainer.name %> </h1>

<div class="col-sm-6">
<img src="<%=@trainer.photo%>" style="width: 50%;">
</div>

<div class="col-sm-6">
<strong>Trainer Name: <%= @trainer.name%></strong><br>
<strong>Trainer Username: <%= @trainer.username%></strong><br>
<strong>Trainer Level: <%= @trainer.level%></strong><br>
<strong>Trainer Bio:</strong>
<textarea rows="6" cols="60">
<%=@trainer.bio%>
Ash Ketchum is the main protagonist of the Pokémon anime series who has always dreamed of becoming a Pokémon Master. As soon as he turned ten years old, he rushed to Professor Oak's Laboratory to get his first Pokémon. He is the first human character to be introduced in the series. Originally wanting to choose Squirtle, Ash ended up receiving the Pokémon Pikachu, as he arrived late leaving him with no other starters to choose from. He sets onto his adventure later in the day.
He is currently also the only character shown to have been to all of the regions.
</textarea><br>
</div>
