<h1>Welcome! <%= @trainer.name %> </h1>

<div class="col-sm-3">
<img src="<%=@trainer.photo%>" style="width:80%;">
</div>  <!--ends col-sm-6-->

<div class="col-sm-9">
<table style="width:100%">
  <tr>
    <th>Trainer <br>Name:</th>
    <th>Trainer <br>Username:</th>
    <th>Trainer Bio:</th>
  </tr>
  <tr>
    <td><%= @trainer.name%></td>
    <td><%= @trainer.username%></td>
    <td>
    <%=@trainer.bio%>
    Ash Ketchum is the main protagonist of the Pokémon anime series who has always dreamed of becoming a Pokémon Master. As soon as he turned ten years old, he rushed to Professor Oak's Laboratory to get his first Pokémon. He is the first human character to be introduced in the series. Originally wanting to choose Squirtle, Ash ended up receiving the Pokémon Pikachu, as he arrived late leaving him with no other starters to choose from. He sets onto his adventure later in the day.
    He is currently also the only character shown to have been to all of the regions.
  </td>
  </tr>
</table>
</div>  <!--ends col-sm-6-->

<div class="col-sm-12">
<div class="col-sm-6">
  <button class="buttoner button19">CATCH POKEMON!</button>
</div> <!--ends col-sm-6-->

<div class="col-sm-6">
  <button class="buttoner button20">RELEASE POKEMON?</button>
</div> <!--ends col-sm-6-->
</div> <!-- ends col-sm-12 -->

<div class="col-sm-12">
  <h2> Your current Pokemon are: </h2>
</div>
  <% @pokemons.each do |pokemon| %>
  <div class="col-sm-12">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <h3><%= pokemon.name %></h3>
  <img src="<%=pokemon.photo%>" style="width: 50%;"><br>
</div> <!--ends col-sm-6-->
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="display: inline-block;">
    <h3> Pokemon Stats: </h3>
  <table style="width:100%">
  <tr>
    <th>Type:</th>
    <td><%= pokemon.breed %></td>
  </tr>
  <tr>
    <th>Attacks:</th>
    <td><%= pokemon.attacks %></td>
  </tr>
  <tr>
    <th>Bio</th>
    <td><%= pokemon.bio %></td>
  </tr>
</table>
<br><br><br><br>
  </div>  <!--ends col-sm-6-->
  </div>
  <%end%>
  <!--ends col-sm-12-->

<div class="col-sm-12">
  <button class="buttoner button20">EDIT POKEMON?</button>
  </div>  <!--ends col-sm-12-->
